<%= @conversation.title %>
<p><%= @conversation.category %></p>



<ul>
  <% @conversation.messages.each do |message| %>
    <li><%= message.content %>
      <!-- <% if message.user_id == current_user.id %>
        <%= link_to "delete", conversation_message_path(message.id), method: :delete %>
      <% end %> -->
    </li>
  <% end %>
</ul>



<%= form_for ([@conversation, @message]) do |f| %>
  <%= f.text_area :content, placeholder: "Add a new message..." %>
  <br>
  <%= f.submit %>
<% end %>
