<%= @conversation.title %>
<p><%= @conversation.category %></p>

<ul>
<% @conversation.messages.each do |message| %>
<li><%= message.content %></li>
<% end %>
</ul>



<%= form_for ([@conversation, @message]) do |f| %>
  <%= f.text_area :content, placeholder: "Add a new message..." %>
  <br>
  <%= f.submit %>
<% end %>
