<h1 class="welcomeuser">Welcome, <%= @user.username %>!</h1>
<div class="container userhomecont">
  <section class="userhome1">
    <h1>Conversations You've Created</h1> <br>
    <% @conversations.each do |f| %>
      <% if f.user_id == current_user.id %>
        <div>
          <h4><%= link_to f.title, conversation_path(f), class: "link-title" %>
            <%= link_to "Edit", edit_conversation_path(f), class: "link-btn1" %>
            <%= link_to "Delete", conversation_path(f), method: :delete, class: "link-btn" %>
          </h4>
        </div>
      <% end %>
    <% end %>
  </section>
  <br><br><br>
  <aside id="create_or_join" class="userhome2">
    <h3><%= link_to "Create a conversation", new_conversation_path %></h3>

    <h4>or</h4>

    <h3><%= link_to "Join a conversation", conversations_path %></h3>
  </aside>
</div>
