<!DOCTYPE html>
<html>
  <head>
    <title>ConversationApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand">Talk About It</p>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", home_path %></li>
            <li><%= link_to "Join Conversations", conversations_path %></li>
            <li><%= link_to "New Conversation", new_conversation_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="lia"><%= link_to "Logged in as " + current_user.username + "!", home_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </div><!--/.nav-collapse -->

    </nav>
      <h3>Chat app</h3>
    <% end %>
    <%= yield %>
  </body>
</html>
